.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    background-color: rgb(26, 26, 32);
}

.container--poke {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid;
    
}

.navbar {
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    background-color: rgb(25, 26, 27);
    color: white;
    margin-bottom: 20px;
}