body {
  background-color: rgb(70, 66, 63);
  margin: 0;
  background-image: url(/src/images/fundo.jpeg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
